<footer>
  <p>将棋処 やまと王将 | 神奈川県大和市深見西２丁目-１-２ ホソノビル 2F </p>
  <p> | 営業時間: 13:00～20:00 | ☎ 090-8431-1107 | yamatoousho@gmail.com </p>
  <p>
    <a href="https://x.com/yamatoousho">X</a> |
    <a href="https://instagram.com/yamatoousho">Instagram</a>
  </p>
</footer>

<style>
  a {
    color: aqua;
  }
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
  }
</style>
