---
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- ファビコン設定 -->
    	<link rel="icon" type="image/x-png" href="/favicon.png" />
    	<link rel="apple-touch-icon" href="/images/apple-touch-icon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>やまと王将 - 将棋処</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
